* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #2D2D2D;

    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Table styling */
table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    margin-bottom: 2rem;
}

td {
    font-size: 20px;
}

thead td {
    padding: 10px 30px;
}

caption {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 0.5rem;
}

/* END Table styling */


.title {
    font-size: 2.5rem;

    margin-bottom: 2rem;
}

.create-journal {
    background-color: #2D2D2D;
    border: 5px dashed pink;
    text-align: center;
    font-size: 2rem;
    max-width: 95%;
    width: 30rem;
    padding: 1rem 0;
    cursor: pointer;
}

.create-journal:hover {
    opacity: 0.5;
}

.hidden {
    display: none;
}

#add-entry-click {
    color: #75D15E;
}

#add-entry-click:hover {
    opacity: 0.8;
}

#add-entry-cell {
    text-align: center;
    padding: 10px 0;
}